* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
p {
  color: #0f2336;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0f2336;
}
nav {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__inner {
  width: 1240px;
  height: 50px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
nav .nav__inner_list {
  width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav__inner_list p {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
nav .nav__inner_list button {
  width: 122px;
  height: 50px;
  background-color: #0f2336;
  color: #ffffff;
  border: 1px solid #0f2336;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.hero {
  display: flex;
  height: auto;
  margin: 70px auto;
}

.hero__left button {
  background-color: #00cccc;
  font-size: 18px;
  font-weight: bold;
  width: 208px;
  height: 60px;
  border-radius: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
}
.hero__left h1 {
  font-size: 55px;
  line-height: 80px;
  margin-bottom: 50px;
}
.hero__left {
  width: 50%;
}
.hero__right #trees {
  width: 732px;
  margin-top: -103px;
}
.hero__right {
  width: 85%;
  position: relative;
}
.hero__right #hero_image {
  position: absolute;
  bottom: 4px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.features {
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
}
.features .feature {
  width: auto;
  max-width: 325px;
  margin: 20px 0;
}
.features h2 {
  margin-top: 30px;
}
.features p {
  margin-top: 12px;
  color: #576d81;
}
.info {
  display: flex;
  align-items: center;
  margin: 100px auto;
  height: 540px;
  background-color: #f4f5f6;
  border-radius: 50px;
}
.info img {
  width: 585px;
  height: 640px;
}
.info__description img {
  width: 109px;
  height: 10px;
  margin-top: 50px;
}
.info .info__description h2 {
  font-size: 40px;
  max-width: 190px;
  margin: 20px 0;
}
.info .info__description p {
  max-width: 414px;
  font-size: 16px;
  color: #576d81;
  line-height: 24px;
}
